.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
   
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
body{
   
    background-color:#f7f2f2;
    
}
a{
    text-decoration :none
}
a:link{
    color:#ffffff;
}


    color: #ffffff;


.bodyimg{
    position: absolute;
}
.bodyimg p{
    color:#000000;
    font-size: 55px;
    font-family: fantasy;
    position: absolute;
    top:15%;
    left:45%;
    transform: translate(-40%,-50%);
}
.bodyimg h3{
    color:#010101;
    
    font-size: 25px;
    width: 1000px;
    position: absolute;
    top:40%;
    left:40%;
    transform: translate(-35%, -45%);
}
.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid black;
    border-radius: 55px;
}
.origami {
    
    border-radius: 5px;
    background-color: #ffffff;
    padding: 30px;
    margin: 25px;
    width:310px;
    font-family: fantasy;
    
}



